*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #a9fbbc;
}
ul{
    list-style-type: none;
    background-color: white;
    padding: 10px;
}
li{
    display: inline-block;
    width: 110px;
    position: relative;
    /* margin-left: -4px; */
}
a{
    text-decoration: none;
    color: black;
    font-family: verdana;
    padding: 5px 20px;
    display: inline-block;
}
a:hover{
    color: #308d46;
}
.down{
    position: absolute;
}
a:hover .down{
    transform: rotate(180deg);
    transition: all .2s;
}
.submenu{
    position: absolute;
    display: none;
    left: 0px;
    top: 40px;
    padding: 0px;
    border-top: 5px solid #308d46;
}
.submenu li{
    width: 300px;    
}
.submenu a{
    display: block;
    padding: 10px 20px;
}
.submenu a:hover{
    background-color: gainsboro;
    color: black;
}
li:hover .submenu{
    display: block;
}